<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">

    <!-- Bootstrap CSS from a CDN. This way you don't have to include the bootstrap file yourself -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Your own stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">

    <title>Fresh Fyyur</title>
  </head>
  <body>
    <div class="container d-flex align-items-center h-100">
      <div class="row">
        <header class="text-center col-12">
          <h1>Fresh Fyyur</h1>
          <h2>Be part of the most vibrant artist community</h2>
        </header>
        <div class="buffer col-12"></div>
        <section class="text-center col-12">
          <h4>Artists <i class="fas fa-heart"></i> Venues</h4>
          <hr>
          <a href="https://ama-fsnd.us.auth0.com/authorize?audience=fyyur&response_type=token&client_id=9K68p1e6sV4VbQt6XUu4vKSp1rHhcvrh&redirect_uri=https://fresh-fyyur.herokuapp.com/home">
            <button class="btn btn-primary btn-xl">Sign Up Now</button>
          </a>
        </section>
      </div>
    </div>
  </body>
</html>
